* {
    margin: 0;
    list-style: none;
}
.clear {
    clear: left;
}
body {
    background-image: url(https://github.com/suntansuntan/hideki-top/blob/master/hideki-haikei.png?raw=true);
    background-size: cover;
    background-attachment: fixed;
}
header {
    height: 100px;
    background-color: rgba(102, 101, 101, 0.842);
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    overflow: hidden;
}
.header-taitle a {
    float: right;
    line-height: 100px;
    font-size: 80px;
    font-family: fantasy;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-taitle a:hover {
    color: white;
}
.side-menu {
    float: left;
    position: fixed;
    width: 30%;
    top: 0;
    z-index: 10;

}
.side-icon {
    position: relative;
}
.menu-list {
    position: absolute;
    top: 460px;
    left: 230px;
}
.menu-list a {
    font-size: 80px;
    color: white;
    font-family: fantasy;
    font-weight: 900;
    text-decoration: none;
}
.btn:hover {
    color: red;

}
.main {
    float: right;
    overflow: hidden;
    width: 65%;
    margin-top: 150px;
}
.profile img {
      margin: 0 auto;
     display: block;
}
footer {
    clear: right;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(102, 101, 101, 0.842);
    position: fixed;
    bottom: 0;
    font-family: fantasy;
    font-size: 20px;

}
